@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.formstyle {
    width: 250px;
    height: 340px;
    margin: 20px auto;
    border-radius: 0.5rem;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 3px #111;
    background-color: rgb(67, 67, 67);
}

h1 {
    text-align: center;
    padding: 23px;
    background-color: rgb(0, 183, 255);
    color: white;
}

button:hover {
    background-color: rgb(78, 78, 78);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.btn_clear {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 1rem;
    background-color: rgb(250, 137, 100);
    color: rgb(255, 255, 255);
}

.btn_sign {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 1rem;
    background-color: rgb(206, 206, 206);
    color: rgb(255, 255, 255);
}

.btn_num {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 1rem;
    background-color: rgb(142, 142, 142);
    color: rgb(255, 255, 255);
}

.result {
    width: 223px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(177, 214, 177);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  