@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrap {
    width: 230px;
    height: 325px;
    margin: 50px auto;
    border-radius: 0.3rem;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 3px #111;
    background-color: rgb(67, 67, 67);
}

.result {
    width: 206px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: none;
    text-align: right;
    border-radius: 0.3rem;
    background-color: rgb(177, 214, 177);
}

.center {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 23px;
    background-color: rgb(0, 183, 255);
    color: white;
}

.clear {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 0.5rem;
    background-color: rgb(250, 137, 100);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.sign {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 0.5rem;
    background-color: rgb(206, 206, 206);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.num {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 1px;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px black;
    border-radius: 0.5rem;
    background-color: rgb(142, 142, 142);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

button:hover {
    opacity: 0.75;
}
